{% extends 'templates/app.twig' %}

{% block title %} {{ title }}{% endblock %}

{% block content %}

    <div class="card">
        <h5 class="card-header">{{ error }}</h5>

        <div class="card-body">

            The resource "{{ path }}" can not be located.
            <br />
            Please check your request and try again.

        </div>

        <div class="card-footer">
            <div class="col text-center"></div>
        </div>
    </div>

{% endblock %}
